@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lobster', cursive;
    background: #062620;
}

.container {
    width: 100vw;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    text-align: center;
}

.title img {
    width: 30em;
}

#clock {
    margin-top: 20px;
    font-size: 2.3em;
    line-height: 2.3em;
    color: #ffa06f;
}

#clock span {
    background: #acbd86;
    color: #28544b;
    padding: 25px;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 3rem;
    box-shadow: 5px 3px 15px #000, 5px 6px 5px inset #fff;
}

#clock span:last-child {
    background: #ffa06f;
}

@media only screen and (max-width:1024px) {
    #clock {
        font-size: 2em;
        margin-top: 40px;
    }

    #clock span {
        font-size: 1.5em;
        padding: 20px;
    }

    @media only screen and (max-width:768px) {
        #clock {
            font-size: 1.5em;
            margin-top: 50px;
        }

        #clock span {
            font-size: 1em;
            padding: 15px;
        }
    }

    @media only screen and (max-width:425px) {
        .title img {
            width: 15em;
        }

        #clock {
            font-size: 1.2em;
            margin-top: 30px;
        }

        #clock span {
            font-size: 1em;
            padding: 10px;
        }

    }